html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
}

/* Umum */
.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Navigasi */
.navbar {
  transition: 0.3s;
}

.nav-link {
  color: white;
  /* Tambahan color */
  display: inline-block;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 5px;
  border-radius: 50px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.univ-indo {
  color: #ca8a04;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.univ-indo:hover {
  color: #8f6304;
  text-decoration: none;
}

.cs-1 {
  color: #0706f5;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.cs-2 {
  color: #f60607;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.school {
  color: #0706f5;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.school:hover {
  color: #0505a6;
}



.cs:hover .cs-1 {
  color: #0505a6;
}

.cs:hover .cs-2 {
  color: #a30606;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: white;
  /* color: rgba(0, 0, 0, 1); */
  font-weight: 600;
}

.offcanvas.show .offcanvas-body .nav-link.active {
  color: rgba(255, 255, 255, 1);
}

.offcanvas.show .offcanvas-body .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.offcanvas.show .offcanvas-body .nav-link:hover {
  color: rgba(255, 255, 255, 1) !important;

}

.offcanvas.show .offcanvas-body .nav-link:after {
  background-color: rgba(255, 255, 255, 1);
}

.offcanvas.show .offcanvas-body .nav-link:hover:after {
  background-color: rgba(255, 255, 255, 1);
}

.navbar-toggler-icon {
  width: 1.15em;
  height: 1.15em;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png");
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.scrolled-down {
  top: -60px;
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  top: 0;
  transition: all 0.3s ease-in-out;
}

/* Back to top btn */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  background-color: rgba(0, 0, 0, 1);
  width: 36px;
  height: 36px;
  transition: all 0.5s ease-in-out;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

/* Body */
section {
  padding: 80px 0;
  overflow: hidden;
}

.fade-down-in {
  opacity: 0;
  transform: translateY(-50px);
  /* Start above the initial position */
  animation: fadeUpIn 1s ease-in-out forwards;
}

@keyframes fadeUpIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
    /* Start above the initial position */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* End at the original position, fully visible */
  }
}

.fade-down-in-on-scroll {
  opacity: 0;
  transform: translateY(-50px);
  /* Start above the initial position */
  transition: all 1s ease-in-out;
}

.fade-down-in-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
  /* End at the original position */
}

.card {
  opacity: 0;
  transform: scale(0.8);
  transition: transform 1s ease, opacity 1s ease;
}

.card.pop-up {
  opacity: 1;
  transform: scale(1);
}

.header-text {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  background-color: transparent;
  border: 2px dashed #000;
  border-radius: 10px;
  text-transform: uppercase;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 1;
}

section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 995;
}

.card-project {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-project:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: #000;
}

.card-container {
  perspective: 1000px;
}

.card-link {
  color: var(--bs-gray-900);
}

.view-resume-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 1;
}

.view-resume-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
  transition: transform 0.4s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}

.view-resume-button:hover::before {
  transform: scaleY(1);
}

.view-resume-button:hover {
  color: #fff;
}

.view-resume-button::before {
  transition: transform 0.4s ease, opacity 0.4s ease;
  ;
}

.view-resume-button:not(:hover)::before {
  animation: fadeUp 0.4s ease forwards;
}

@media (max-width: 991px) {
  .mt-responsive {
    margin-top: 2rem !important;
  }

  .center-img {
    display: flex;
    justify-content: center;
  }
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
  transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
  transition: transform .6s cubic-bezier(.19, 1, .22, 1);
  transition: transform .6s cubic-bezier(.19, 1, .22, 1), -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
}

.btn .text {
  position: relative;
  font: 14px / 50px D-DIN-Bold, Arial, Verdana, sans-serif;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: color .5s cubic-bezier(.19, 1, .22, 1);
  transition: color .5s cubic-bezier(.19, 1, .22, 1);
}

/* Social Button  */
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 64px;
  height: 64px;
  text-decoration: none;
  border-radius: 100%;
  background: transparent;
  text-align: center;
}

.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button i {
  font-size: 25.6px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button--mail {
  color: #0072c6;
}

.social-button--mail::after {
  background: #0072c6;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.social-button--instagram {
  color: #e4405f;
}

.social-button--instagram::after {
  background: #e4405f;
}

section .hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#video-berjalan {
  /* position: fixed; */
  max-height: 602px;
  object-fit: cover;
}